{% extends 'base.html' %}

{% block body %}
<div class="container">
    <div class="row meupost mt-4 p-4 align-items-center">

        <!-- Coluna Foto e Cursos -->
        <div class="col-md-3 text-center">
            <div class="image mb-3">
                <img src="{{ url_for('static', filename='fotos_perfil/{}'.format(post.autor.foto_perfil)) }}"
                     class="rounded-circle img-fluid shadow-sm" width="120" alt="Foto de {{ post.autor }}">
            </div>
            <h5 class="fw-bold">{{ post.titulo }}</h5>
            <div class="cursos-container mt-2">
                {% for curso in post.autor.cursos.split(';') %}
                    <span class="badge">{{ curso }}</span>
                {% endfor %}
            </div>
        </div>

        <!-- Coluna Dados -->
        <div class="col-md-9">
            <h3 class="fw-bold mb-3">
                {{ post.titulo }}
                <small style="font-size: 15px; color:white;">
                     Criado em {{ post.data_criacao.strftime('%d/%m/%Y') }}
                    {% if form %}
                        <a style="color:white" href="#form_editarpost">Editar</a> /
                        <a href="#" class="text-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">Excluir</a>
                    {% endif %}
                </small>
            </h3>
            <div class="row mb-2">
                <div class="col-sm-4 fw-bold">Email:</div>
                <div class="col-sm-8">{{ post.email }}</div>
            </div>
            <div class="row mb-2">
                <div class="col-sm-4 fw-bold">Telefone:</div>
                <div class="col-sm-8">{{ post.telefone }}</div>
            </div>
            <div class="row mb-2">
                <div class="col-sm-4 fw-bold">Operadora:</div>
                <div class="col-sm-8">{{ post.corpo }}</div>
            </div>
            <div class="row mb-2">
                <div class="col-sm-4 fw-bold">Data Implantação:</div>
                <div class="col-sm-8">{{ post.implantacao }}</div>
            </div>
            <div class="row mb-2">
                <div class="col-sm-4 fw-bold">Número do Contrato:</div>
                <div class="col-sm-8">{{ post.numero_contrato }}</div>
            </div>
            <div class="row mb-2">
                <div class="col-sm-4 fw-bold">CNPJ ou CPF:</div>
                <div class="col-sm-8">{{ post.cnpj_cpf }}</div>
            </div>
            <div class="row mb-2">
                <div class="col-sm-4 fw-bold">Razão Social:</div>
                <div class="col-sm-8">{{ post.razao_social }}</div>
            </div>
            <div class="row mb-2">
                <div class="col-sm-4 fw-bold">Valor do Contrato:</div>
                <div class="col-sm-8">{{ post.valor_contrato }}</div>
            </div>
            <div class="row mb-2">
                <div class="col-sm-4 fw-bold">Bônus por Vida?</div>
                <div class="col-sm-8">{{ post.bonus_vida }}</div>
            </div>
            <div class="row mb-2">
                <div class="col-sm-4 fw-bold">Valor do Bônus:</div>
                <div class="col-sm-8">{{ post.valor_bonus }}</div>
            </div>
        </div>
    </div>
</div>

{% if form %}
<div class="container">
    <div class="row">
        <div class="col">
            <form method="POST" action="" id="form_editarpost" class="card p-4 mt-3 text-center">
                {{ form.csrf_token }}
                <legend class="mb-3 fw-bold">Editar Post</legend>
                <fieldset class="row g-3 justify-content-center">

                    <div class="col-md-6">
                        {{ form.titulo.label(class="form-label fw-bold") }}
                        {{ form.titulo(class="form-control-lg w-100") }}
                    </div>

                    <div class="col-md-6">
                        {{ form.implantacao.label(class="form-label fw-bold") }}
                        {{ form.implantacao(class="form-control-lg w-100") }}
                    </div>

                    <div class="col-md-6">
                        {{ form.numero_contrato.label(class="form-label fw-bold") }}
                        {{ form.numero_contrato(class="form-control-lg w-100") }}
                    </div>

                    <div class="col-md-6">
                        {{ form.cnpj_cpf.label(class="form-label fw-bold") }}
                        {{ form.cnpj_cpf(class="form-control-lg w-100") }}
                    </div>

                    <div class="col-md-6">
                        {{ form.telefone.label(class="form-label fw-bold") }}
                        {{ form.telefone(class="form-control-lg w-100") }}
                    </div>

                    <div class="col-md-6">
                        {{ form.valor_contrato.label(class="form-label fw-bold") }}
                        {{ form.valor_contrato(class="form-control-lg w-100") }}
                    </div>

                    <div class="col-md-6">
                        {{ form.bonus_vida.label(class="form-label fw-bold") }}
                        {{ form.bonus_vida(class="form-control-lg w-100") }}
                    </div>

                    <div class="col-md-6">
                        {{ form.valor_bonus.label(class="form-label fw-bold") }}
                        {{ form.valor_bonus(class="form-control-lg w-100") }}
                    </div>

                    <div class="col-md-6">
                        {{ form.corpo.label(class="form-label fw-bold") }}
                        {{ form.corpo(class="form-control-lg w-100") }}
                    </div>
                    <div class="col-md-6">
                        {{ form.email_cliente.label(class="form-label fw-bold") }}
                        {{ form.email_cliente(class="form-control-lg w-100") }}
                    </div>
                    <div class="col-12">
                        {{ form.razao_social.label(class="form-label fw-bold") }}
                        {{ form.razao_social(class="form-control-lg w-100") }}
                    </div>

                </fieldset>
                <div class="mt-4 text-center">
                    {{ form.botao_submit(class="btn btn-lg btn-buscar  px-5") }}
                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}

<!-- Modal Excluir -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Excluir Post</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
      </div>
      <div class="modal-body">
        Deseja realmente excluir o post?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <form method="POST" action="{{ url_for('excluir_post', post_id=post.id) }}">
            <button type="submit" class="btn btn-danger">Excluir Post</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
